body{
  background-color: #FFFFFF;
  margin: 0;
  color: #221A2E;
  text-align: center;
  font-family: Segoe UI;

}
.Einleitung{
  background-color: #004D66;
  color: #FFFFFF;
}
.Semester{
  margin: 0 30% 0 30%;
  display: flex;
  justify-content: space-between;
  color: #FFFFFF;
}
a{
  color: #FFFFFF;
  font-family: Segoe UI;
}
.Liste1{
  margin: 0 24% 0 24%;
  text-align: left;
}
.Bild1{
  margin: 0 5% 20px 0;
}
.Bild2{
  margin: 25px 0 0 0;
}
