body{
  background-color: #FFFFFF;
  color: #221A2E;
  text-align: left;
  font-family: Segoe UI;

}
.Einleitung{
  background-color: #004D66;
  color: #FFFFFF;
  margin: 0 0 0 0;
  text-align: center;
}
.Titel{
  font-size: 260%;
}
.Inhalt{
  margin: 0 10% 0 10%;

}
.Semester{
  margin: 0 27% 0 27%;
  display: flex;
  justify-content: space-between;
  color: #FFFFFF;
  font-size: 120%;
}
a{
  color: #FFFFFF;
  font-family: Segoe UI;
}
img{
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.Bild1{
  padding-top: 18px;
}
.Bild2{
  width: 70%;
  height: 70%;
}
